In [92]:
import pandas as pd
import numpy as np

In [249]:
traineee = pd.read_csv('../data/processed/us-train.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/us-train.csv'

In [213]:
df = pd.read_csv('/Users/롸/Desktop/us-train.csv')

In [214]:
df.shape

(44466, 105)

In [215]:
df.head()

,log_price,accommodates,bathrooms,host_has_profile_pic,host_identity_verified,host_response_rate,instant_bookable,number_of_reviews,review_scores_rating,thumbnail_url,...,x0_Tipi,x0_Townhouse,x0_Train,x0_Treehouse,x0_Vacation home,x0_Villa,x0_Yurt,x1_Entire home/apt,x1_Private room,x1_Shared room
0,5.587249,16,1.5,1,1,100.000000,0,12,100.000000,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,5.298317,2,0.0,1,1,50.000000,0,14,95.000000,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3.806662,1,1.0,1,0,100.000000,1,25,97.000000,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4.007333,1,1.0,1,1,100.000000,1,0,94.042825,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,5.298317,4,1.5,1,0,94.353078,0,1,80.000000,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [216]:
y = df.log_price

In [217]:
df.drop('log_price', axis=1,inplace=True)

In [218]:
df = df.fillna(method='ffill')

In [102]:
import xgboost as xg

In [103]:
xgb_r = xg.XGBRegressor(objective ='reg:linear',n_estimators = 10, seed = 123)

In [104]:
xgb_r.fit(df, y)

[13:16:53] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[13:16:54] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=0, num_parallel_tree=1,
             objective='reg:linear', random_state=123, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=123, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [235]:
val = pd.read_csv('/Users/롸/Desktop/us-val.csv')

In [236]:
val_y = val['log_price']

In [221]:
val.drop('log_price', axis=1,inplace=True)

In [108]:
pred = xgb_r.predict(val)

In [109]:
pred_exp = np.exp(pred)

In [238]:
y_exp = np.exp(y)
val_y_exp = np.exp(val_y)

In [111]:
from sklearn.metrics import mean_squared_error as MSE
rmse = np.sqrt(MSE(val_y, pred))
print("RMSE : % f" %(rmse))

RMSE :  0.441889

In [112]:
#RMSE on validation data
rmse = np.sqrt(MSE(val_y_exp, pred_exp))
print("RMSE : % f" %(rmse))

RMSE :  128.177444

In [113]:
#median absolute error on validation data
err_median = np.abs(val_y_exp - pred_exp).median()
err_median

24.002170562744155

In [122]:
err_mean = np.abs(val_y_exp - pred_exp).mean()
err_mean

56.483459250677

In [222]:
# train the model on val and train data (whole data)

frame = [df, val]
train = pd.concat(frame)

In [223]:
train_y=y.append(val_y)

In [225]:
train.shape[0]

59288

In [226]:
train_y.shape[0]

59288

In [224]:
xgb_r.fit(train, train_y)

[14:01:57] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.
[14:01:58] WARNING: /Users/travis/build/dmlc/xgboost/src/objective/regression_obj.cu:174: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=0, num_parallel_tree=1,
             objective='reg:linear', random_state=123, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=123, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [ ]:
test_y = test.log_price

In [119]:
test.drop('log_price', axis=1,inplace=True)

In [201]:
t1= time.time()
test_pred = xgb_r.predict(test)
t2= time.time()

In [202]:
t2-t1

0.0640108585357666

In [123]:
test_pred_exp = np.exp(test_pred)

In [124]:
test_y_exp = np.exp(test_y)

In [125]:
rmse = np.sqrt(MSE(test_y_exp, test_pred_exp))
print("RMSE : % f" %(rmse))

RMSE :  129.638748

In [126]:
err_median = np.abs(test_y_exp - test_pred_exp).median()
err_median

24.416587829589886

In [127]:
err_mean = np.abs(test_y_exp - test_pred_exp).mean()
err_mean

56.4814990757207

In [129]:
xgb_r.score(test, test_y)

0.6179175691168012

### London, paris, madrid

In [244]:
london = pd.read_csv('/Users/롸/Desktop/london-test.csv')
paris = pd.read_csv('/Users/롸/Desktop/paris-test.csv')
madrid = pd.read_csv('/Users/롸/Desktop/madrid-test.csv')

In [189]:
london.head()

,log_price,accommodates,bathrooms,host_has_profile_pic,host_identity_verified,host_response_rate,instant_bookable,number_of_reviews,review_scores_rating,thumbnail_url,...,x0_Tipi,x0_Townhouse,x0_Train,x0_Treehouse,x0_Vacation home,x0_Villa,x0_Yurt,x1_Entire home/apt,x1_Private room,x1_Shared room
0,3.688879,2,1.0,1,1,100.000000,0,21,97.000000,1,...,0,0.0,0,0,0,0.0,0.0,0.0,1.0,0.0
1,4.317488,2,1.0,1,1,100.000000,1,89,96.000000,1,...,0,0.0,0,0,0,0.0,0.0,1.0,0.0,0.0
2,5.726848,6,2.0,1,1,0.000000,0,42,94.000000,1,...,0,0.0,0,0,0,0.0,0.0,1.0,0.0,0.0
3,5.010635,2,1.0,1,1,85.683602,0,0,93.080328,1,...,0,1.0,0,0,0,0.0,0.0,0.0,1.0,0.0
4,3.367296,2,1.5,1,1,85.683602,1,129,96.000000,1,...,0,0.0,0,0,0,0.0,0.0,0.0,1.0,0.0

In [245]:
dfs = [london, paris, madrid]
alltest = pd.concat(dfs)

In [246]:
alltest_y = alltest.log_price
alltest.drop('log_price', axis=1,inplace=True)

In [247]:
london_y = london.log_price
london.drop('log_price', axis=1,inplace=True)

In [134]:
london_pred = xgb_r.predict(london)

In [135]:
london_pred_exp = np.exp(london_pred)

In [136]:
london_y_exp = np.exp(london_y)

In [137]:
err_median = np.abs(london_y_exp - london_pred_exp).median()
err_median

26.959505081176758

In [138]:
err_mean = np.abs(london_y_exp - london_pred_exp).mean()
err_mean

55.357427138394726

In [139]:
xgb_r.score(london, london_y)

0.4486746724348968

In [140]:
rmse = np.sqrt(MSE(london_y_exp, london_pred_exp))
print("RMSE : % f" %(rmse))

RMSE :  304.956866

In [248]:
paris_y = paris.log_price
paris.drop('log_price', axis=1,inplace=True)

In [142]:
paris_pred = xgb_r.predict(paris)

In [143]:
paris_pred_exp = np.exp(paris_pred)

In [144]:
paris_y_exp = np.exp(paris_y)

In [145]:
err_median = np.abs(paris_y_exp - paris_pred_exp).median()
err_median

41.8131408691406

In [146]:
err_mean = np.abs(paris_y_exp - paris_pred_exp).mean()
err_mean

61.21028373577427

In [147]:
rmse = np.sqrt(MSE(paris_y_exp, paris_pred_exp))
print("RMSE : % f" %(rmse))

RMSE :  207.902080

In [148]:
xgb_r.score(paris, paris_y)

-0.0396248567777171

In [169]:
#madrid_col = 100/75.8
madrid_y = madrid.log_price
madrid.drop('log_price', axis=1,inplace=True)

In [160]:
madrid_pred = xgb_r.predict(madrid)

In [161]:
madrid_pred_exp = np.exp(madrid_pred)

In [162]:
madrid_y_exp = np.exp(madrid_y)

In [163]:
err_median = np.abs(madrid_y_exp - madrid_pred_exp).median()
err_median

98.42024643833167

In [164]:
err_mean = np.abs(madrid_y_exp - madrid_pred_exp).mean()
err_mean

910.8419711239269

In [165]:
xgb_r.score(madrid, madrid_y)

-0.23784583669444936

In [156]:
rmse = np.sqrt(MSE(madrid_y_exp,madrid_pred_exp))
print("RMSE : % f" %(rmse))

RMSE :  452.489120

In [174]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
import time as time

madrid_col = 100/75.8

time1 = time.time()

madrid_pred = xgb_r.predict(madrid)

madrid_adjusted = np.log(np.exp(madrid_pred / madrid_col))
r2 = r2_score(madrid_y, madrid_adjusted)

#time for test
time2 = time.time()

rmse_ult = mean_squared_error(np.exp(madrid_y), np.exp(madrid_adjusted), squared=False)
mae_ult = mean_absolute_error(np.exp(madrid_y), np.exp(madrid_adjusted))
medae_ult = median_absolute_error(np.exp(madrid_y), np.exp(madrid_adjusted))

In [175]:
print(rmse_ult, mae_ult, medae_ult, r2)

464.03610936596067 93.90053773758174 22.244445800781257 -0.23784575399374686

In [176]:
time2 - time1

0.05146217346191406

In [184]:
london_col = 100/95 #adjust for cost of living 


time1 = time.time()

london_pred = xgb_r.predict(london)

london_adjusted = np.log(np.exp(london_pred / london_col))
r2 = r2_score(london_y, london_adjusted)

#time for test
time2 = time.time()

rmse_ult = mean_squared_error(np.exp(london_y), np.exp(london_adjusted), squared=False)
mae_ult = mean_absolute_error(np.exp(london_y), np.exp(london_adjusted))
medae_ult = median_absolute_error(np.exp(london_y), np.exp(london_adjusted))

In [180]:
print(rmse_ult, mae_ult, medae_ult, r2)

307.0341202235586 51.34569432464647 19.581354141235376 0.5046359507299323

In [185]:
time2 - time1

0.16057205200195312

In [181]:
paris_col = 100/89.3 #adjust for cost of living 

time1 = time.time()

paris_pred = xgb_r.predict(paris)

paris_adjusted = np.log(np.exp(paris_pred / paris_col))
r2 = r2_score(paris_y, paris_adjusted)

#time for test
time2 = time.time()

rmse_ult = mean_squared_error(np.exp(paris_y), np.exp(paris_adjusted), squared=False)
mae_ult = mean_absolute_error(np.exp(paris_y), np.exp(paris_adjusted))
medae_ult = median_absolute_error(np.exp(paris_y), np.exp(paris_adjusted))

In [182]:
print(rmse_ult, mae_ult, medae_ult, r2)

213.59558135251396 53.04409957433784 22.08065414428708 0.01329695064012848

In [183]:
time2 - time1

0.1334528923034668

In [192]:
# multiplying 1.11 to match the cost of living 
all_col = 1.11

time1 = time.time()

alltest_pred = xgb_r.predict(alltest)

alltest_adjusted = np.log(np.exp(alltest_pred / all_col))
r2 = r2_score(alltest_y, alltest_adjusted)

#time for test
time2 = time.time()

rmse_ult = mean_squared_error(np.exp(alltest_y), np.exp(alltest_adjusted), squared=False)
mae_ult = mean_absolute_error(np.exp(alltest_y), np.exp(alltest_adjusted))
medae_ult = median_absolute_error(np.exp(alltest_y), np.exp(alltest_adjusted))

In [193]:
print(rmse_ult, mae_ult, medae_ult, r2)

299.93375514211056 57.83581739299584 20.258388519287106 0.28827610321515107

In [194]:
time2 - time1

0.4214189052581787

### US train

In [197]:
time1 = time.time()

train_y_pred = xgb_r.predict(df)

r2 = r2_score(y, train_y_pred)

#time for test
time2 = time.time()

rmse_ult = mean_squared_error(np.exp(y), np.exp(train_y_pred), squared=False)
mae_ult = mean_absolute_error(np.exp(y), np.exp(train_y_pred))
medae_ult = median_absolute_error(np.exp(y), np.exp(train_y_pred))

In [198]:
print(rmse_ult, mae_ult, medae_ult, r2)

124.94771576448736 55.28969887173386 23.873588562011903 0.6434470999146539

In [205]:
time2 - time1

0.10722899436950684

## Stack RF & XGboost

In [209]:
from sklearn.ensemble import RandomForestRegressor

rf_opt = RandomForestRegressor(n_estimators=800, min_samples_split=2, 
                                min_samples_leaf=2, max_features='auto',
                               max_depth=100, bootstrap=True)

In [227]:
rf_opt.fit(train, train_y)

RandomForestRegressor(max_depth=100, min_samples_leaf=2, n_estimators=800)

In [229]:
xgb_pred = xgb_r.predict(val)
rf_pred = rf_opt.predict(val)

In [241]:
final = (xgb_pred + rf_pred)/2

In [232]:
xgb_pred_exp = np.exp(xgb_pred)
rf_pred_exp = np.exp(rf_pred)

In [240]:
final_exp = (xgb_pred_exp + rf_pred_exp)/2

In [242]:
#rmse 
rmse = np.sqrt(MSE(val_y, final))
print("RMSE : % f" %(rmse))

RMSE :  0.301658

In [239]:
#median absolute error on validation data
err_median = np.abs(val_y_exp - final_exp).median()
err_median

15.678205179856498

In [258]:
paris_col = 100/89.3 #adjust for cost of living 

time1 = time.time()

paris_xgb_pred = xgb_r.predict(paris)
paris_rf_pred = rf_opt.predict(paris)

final_pred = (paris_xgb_pred+paris_rf_pred)/2

paris_adjusted = np.log(np.exp(final_pred / paris_col))
r2 = r2_score(paris_y, paris_adjusted)

#time for test
time2 = time.time()

rmse_ult = mean_squared_error(np.exp(paris_y), np.exp(paris_adjusted), squared=False)
mae_ult = mean_absolute_error(np.exp(paris_y), np.exp(paris_adjusted))
medae_ult = median_absolute_error(np.exp(paris_y), np.exp(paris_adjusted))

In [259]:
print(rmse_ult, mae_ult, medae_ult, r2)

212.3344727920278 51.72099430702403 22.43633053188522 0.09889702947008727

In [252]:
time2 - time1

5.698703050613403

In [256]:
london_col = 100/95 #adjust for cost of living 

time1 = time.time()

london_xgb_pred = xgb_r.predict(london)
london_rf_pred = rf_opt.predict(london)

final_pred = (london_xgb_pred+london_rf_pred)/2

london_adjusted = np.log(np.exp(final_pred / london_col))
r2 = r2_score(london_y, london_adjusted)

#time for test
time2 = time.time()

rmse_ult = mean_squared_error(np.exp(london_y), np.exp(london_adjusted), squared=False)
mae_ult = mean_absolute_error(np.exp(london_y), np.exp(london_adjusted))
medae_ult = median_absolute_error(np.exp(london_y), np.exp(london_adjusted))

In [257]:
print(rmse_ult, mae_ult, medae_ult, r2)

306.19080317870095 51.15214136313887 20.867700173533553 0.5131114985980929

In [255]:
time2 - time1

8.638229131698608

In [261]:
import pickle

pkl_filename = "xgb.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(xgb_r, file)